@use "sass:math";
@use 'sass:meta';
@use "sass:list";


@function calculate($num1, $num2, $operator) {
    @if meta.type-of($num1) =='number' and meta.type-of($num2) == 'number' {
        @if math.is-unitless($num1) and math.is-unitless($num2) {
            @if list.index('d' 'o' 'm' 'dz', $operator) {
                @if $operator == 'd' {
                    $operator: (($num1 + $num2) * 1px);
                }

                @else if $operator == 'o' {
                    $operator: (($num1 - $num2) * 1px);
                }

                @else if $operator == 'm' {
                    $operator: (($num1 * $num2) * 1px);
                }

                @else {
                    $operator: (math.div($num1, $num2) * 1px);
                }

                @return $operator;
            }

            @else {
                @error 'Błąd ! Zmienna ($operator) powinna zawierać: d (dodawanie), o (odejmowanie), m (mnożenie), dz (dzielenie)';
            }
        }

        @else {
            @error 'Błąd ! Zmienna ($num1) i ($num2) nie może zawierać jednostki';
        }
    }

    @else {
        @error 'Błąd ! Zmienna ($num1) lub ($num2) musi być typu liczbowego';
    }
}